<!-- Clients -->
{% if include.lang and include.lang != "" and include.lang != nil %}
<section class="page-section" id="{{ site.data.sitetext[include.lang].clients.section | default: " clients" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[include.lang].clients.title | default:
          "Clients" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[include.lang].clients.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row" {% if site.data.sitetext[include.lang].clients.horizontal-scrolling=="yes" %}
      id="scrolling-clients" {% endif %}>
      {% for client in site.data.sitetext[include.lang].clients.list %}
      <div class="col-md-3 col-sm-6">
        <a href="{{ client.url }}">
          <img class="img-fluid d-block mx-auto" src="{{ client.logo }}" alt="{{ client.title }}"
            style="max-height: {{ site.data.sitetext[include.lang].clients.max-height | default: " 100px" }}
            padding-left: 2em; padding-bottom: 2em">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% else %}
<section class="page-section" id="{{ site.data.sitetext.clients.section | default: " clients" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext[include.lang].clients.title | default:
          "Clients" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext[include.lang].clients.text | default: "" }}</h3>
      </div>
    </div>
    <div class="row" {% if site.data.sitetext.clients.horizontal-scrolling=="yes" %} id="scrolling-clients" {% endif %}>
      {% for client in site.data.sitetext.clients.list %}
      <div class="col-md-3 col-sm-6">
        <a href="{{ client.url }}">
          <img class="img-fluid d-block mx-auto" src="{{ client.logo }}" alt="{{ client.title }}"
            style="max-height: {{ site.data.sitetext.clients.max-height | default: " 100px" }} padding-left: 2em;
            padding-bottom: 2em">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endif %}