// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  // Styling for the services section
  .section-heading {
    margin: 15px 0;
    text-transform: none;
    color: $white;
  }
  .section-subheading {
    color: $white;
  }
}

